@media (min-width: 1000px) {
  .AppChat {
    position: relative;
    max-width: 900px;
    top: 100px;
    left: 50%;
    margin-left: -450px;
  }
}
@media (max-width: 999px) and (min-width: 741px) {
  .AppChat {
    position: relative;
    max-width: 740px;
    top: 50px;
    left: 50%;
    margin-left: -370px;
  }
}
@media (max-width: 740px) {
  .AppChat {
    margin-top: 50px;
  }
}
